<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Index</title>

<link rel="stylesheet" th:href="@{./css/bootstrap.min.css}">
<script type="text/javascript" th:src="@{./js/bootstrap.min.js}"></script>
</head>

<body>
<div class="position-relative" style="align-content: center;">
		<img alt="ubfa" th:src="@{../img/logoNuts.png}" style="width:787px;height:128px; align-content: center;"/>
	</div>

	
</body>
</html>